<div class="container-fluid bg-black vh-100 d-flex justify-content-center align-items-center">
    <div class="vision-content text-center">
      <h2 class="vision-heading ">Future</h2>
      <div class="vision-text-container ">
        <p class="vision-text">
        
         The future is bright at  <span id="home"> Real-Web</span> . As we continue to expand our offerings and reach, our commitment to empowering the next generation of tech leaders remains unwavering. We strive to be at the forefront of innovation, pushing boundaries, and breaking new ground in the pursuit of knowledge and excellence. Together, we're shaping a future where anyone with a passion for technology can thrive and make a meaningful impact on the world.        </p>
      </div>
    </div>
  </div>