<div id="contact"style="box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25); ">
    <!-- Contact component content -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
  
  <footer class="text-white py-4 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Contact Us</h3>
          <p>email: <a href="mailto:real.webmain@gmail.com" style="text-decoration: none; color: aliceblue; hover{
            text-decoration: underline;
          }">Info&#64;real-web.in</a></p> 
          
        </div>
        <div class="col-md-4">
          <h3>Follow Us</h3>
                  <p><i class="fab fa-instagram fa-lg fa-fw"></i> <a href="https://www.instagram.com/real_web.in/?utm_source=ig_web_button_share_sheet&igshid=YzAwZjE1ZTI0Zg==" style="text-decoration: none; color: aliceblue; hover{
            text-decoration: underline;
          }">real_web.in</a> </p>
  <p><i class="fab fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/company/realweb-in/about/?viewAsMember=true" style="text-decoration: none; color: aliceblue; hover{
    text-decoration: underline;
  }">Realweb</a> </p>
          
        </div>
        
      </div>
      <hr>
      <p class="text-center">&copy; 2024 RealWeb | All Rights Reserved</p>
    </div>
  </footer>
  </div>
  