<div class="container-fluid bg-gradients bg-black vh-100 d-flex justify-content-center align-items-center">
    <div class="vision-content text-center">
      <h2 class="vision-heading">Space</h2>
      <div class="vision-text-container">
        <p class="vision-text">
          <span id="home">Real-Web</span> provides a supportive and collaborative space where individuals can connect, learn, and grow. Through our online platform and community events, we foster meaningful connections between students, entrepreneurs, and industry professionals. Whether it's networking with like-minded peers or seeking mentorship from experienced professionals, Real-Web offers a space where ideas flourish and dreams take flight.
        </p>
      </div>
    </div>
  </div>