  <div class="container-fluid bg-black vh-100 d-flex justify-content-center align-items-center" >
    <div class="vision-content text-center">
      <h2 class="vision-heading "  [@fadeInWithDisplacementleft]>Vision</h2>
      <div class="vision-text-container ">
        <p class="vision-text" [@fadeInWithDisplacementright]>
         <span id="home" > Real-Web</span> envisions a world where every aspiring entrepreneur and tech enthusiast has the opportunity to turn their ideas into reality. Our vision is to cultivate a thriving ecosystem where innovation knows no bounds and where individuals are empowered to unleash their full potential.
        </p>
      </div>
    </div>
  </div>