<nav *ngIf="!scrolled" @fadeAnimation>
    <a routerLink="/home" id="home">    Home
    </a>
      <a routerLink="/vision">Vision</a>
      <a routerLink="/knowledge">Knowledge</a>
      <a routerLink="/space">Space</a>
      <a routerLink="/future">Future</a>

  </nav>
  <nav *ngIf="scrolled" id="scrolled" class="text-white" @fadeAnimation >
      <a (click)="scrol()"> <mat-icon> dehaze</mat-icon></a>
  </nav>
  <router-outlet ></router-outlet>  <footer class="footer">
<app-footer></app-footer>