<router-outlet></router-outlet>

<nav *ngIf="!scrolled" @fadeAnimation>
  <a routerLink="/home"   routerLinkActive="active">Home</a>
  <a routerLink="/vision" routerLinkActive="active"  >Vision</a>
  <a routerLink="/knowledge" routerLinkActive="active"  >Knowledge</a>
  <a  routerLink="/space" routerLinkActive="active"  >Space</a>
  <a  routerLink="/future"routerLinkActive="active"  >Future</a>
</nav>
<nav *ngIf="scrolled" id="scrolled" class="text-white" @fadeAnimation>
  <a (click)="scrol()"><mat-icon>dehaze</mat-icon></a>
</nav>
<footer class="footer">
  <app-footer></app-footer>
</footer>
