<div class="container-fluid bg-gradients bg-black vh-100 d-flex justify-content-center align-items-center">
    <div class="vision-content text-center">
      <h2 class="vision-heading">Knowledge</h2>
      <div class="vision-text-container">
        <p class="vision-text">
      
          At <span id="home">Real-Web</span> knowledge is our cornerstone. We offer a comprehensive range of educational resources, workshops, and programs designed to equip students and startup founders with the skills and knowledge they need to succeed in the tech industry. From coding bootcamps to business strategy seminars, we provide valuable insights and practical training to help individuals stay ahead in today's rapidly evolving world.        </p>
      </div>
    </div>
  </div>