.logo-container {
    max-width: 300px; /* Adjust the max-width as needed */
    margin-top: 60px;
  }
  h1{
    font-family: 'Bruno Ace SC', sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 50px;
  }
  .display-4{
    color: rgb(244, 243, 243);
  }
.level-up-container{
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    animation: fadeInOut 1s ease infinite alternate; /* Adjust the duration and timing function as needed */
    opacity: 0; /* Initially set opacity to 0 */
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0; /* Fade out at the start */
    }
    50% {
      opacity: 1; /* Fade in halfway through */
    }
    100% {
      opacity: 0; /* Fade out at the end */
    }
  }

  #gradient {
    background-image: linear-gradient(to bottom, black, white);
    font-size: 50px;
    line-height: 1.5;
    font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
}


  @media (max-width: 800px) {

h1{
    font-size: 25px;

}
#gradient{
    font-size: 20px;

}
.level-up-container{
    margin-top: 0;
    font-size: 20px;
}
.logo-container {
    max-width: 200px; /* Adjust the max-width as needed */

  }
}