<div class="container-fluid bg-black text-white vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="logo-container " >
      <img src="../../assets/logo.png" alt="Logo" class="img-fluid">
    </div>
    <div class="text-container text-center mt-5">
      <h1 >Real-Web</h1>
    </div>
    <div class="level-up-container mt-5" >
        Unleashing digital <span style="color: #C600D7;
        ;">creativity</span>
    </div>
  </div>
  <div class="container-fluid text-white vh-100 d-flex flex-column justify-content-center align-items-center" id="gradient">
    <p class="text-center display-4 fw-bold mb-5">Unleash Your Inner Athlete <span style="color: black;">Level Up your game</span> with</p>
    <p class="text-center display-4 fw-bold mb-5 ">Apex Prime Sports</p>
    <p class="text-center display-4 fw-bold " >Where the journey to greatness begins.</p>
</div>
