<div class="container-fluid bg-black text-white vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-100">
      <div class="col-md-6 d-flex justify-content-center">
        <app-three-dmodel></app-three-dmodel>
      </div>
      <div class="col-md-6" id="heading">
        <div class="text-container text-center" [@fadeInWithDisplacementleft]>
          <h1>Real-Web</h1>
        </div>
        <div class="level-up-container text-center mt-5" [@fadeInWithDisplacementright]>
          Unleashing digital <span style="color: #C600D7;">creativity</span>
        </div>
      </div>
    </div>
</div>